*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
:root{
    --primary-font: "montserrat", sans-serif; 
    --secondary-font: "roboto", sans-serif; 
    --last-font: "Quicksand", sans-serif; 
    --font-weight-tiny: 300;
    --font-weight-small: 400;
    --font-weight-normal: 500;
    --font-weight-large: 700;
}
.p-text-after::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #00000088;
}
.debit-card-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.card-active {
    max-height: 500px; /* Adjust based on tallest content */
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.switch-input {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.card-active .switch-input {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out 0.2s; /* Add slight delay */
}
#toggleAnotherPayment {
    transition: all 0.3s ease;
    overflow: hidden;
}
.filter-invoice{
    display: none;
}
.mobile-form-wrapper{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
}
.mobile-input-search{
    display: none;
    gap: 5px;
    align-items: center;
    background: #ffffff;
    width: 100%;
}
.mobile-input-search.search-input{
    display: flex;
}
/* Help-page-accordion */
.accordion-content {
    transition: max-height 0.3s ease-in-out;
}
.menu-icons.active .footer-link {
    color: #3b5361;
}

/* Profile-Edit */
#openEditContainer{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10000;
    height: 0;
    opacity: 0;
    top: 100%;  
    transition: top 300ms ease-out;  
}
#openEditContainer.editActive{
    top: 10px;   
    height: 100vh; 
    opacity: 1;
    transition: top 300ms ,
                height 200ms ,
                opacity 200ms ;
}

/* Profile-Settings */
#openSettingsContainer{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10000;
    height: 0;
    opacity: 0;
    top: 100%;  
    transition: top 300ms ease-out;  
}
#openSettingsContainer.settingsActive{
    top: 10px;   
    height: 100vh; 
    opacity: 1;
    transition: top 300ms ,
                height 200ms ,
                opacity 200ms ;
}

/* choose-payment */
#wallet {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
    background-size: 1.2em;
    padding-right: 2rem;
}